.img1{
    background-image: url(../../../../assets/images/6c50ee169f27a03575d71b9637769b7833a4bb27\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}