.img1{
    background-image: url(../../../../assets/images/3142198591aa88e2d75476d14bcf0111897e675e\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}