.anm1{
    background-image: url('../../../../src/assets/Header.images/20738cdccdc4420dacab1556bdd4af8b3fad4b68.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    
}