.img1{
    background-image: url(../../../../assets/images/f49bdf8b4c969216e2fd92686258c37d8db4a4d0.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}