.img1{
    background-image: url(../../../../assets/images/454aba1b0c4c7a706d37f20cdabc6d8e7f5ddb80\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}